@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family:'poppins',sans-serif;
}
.app{
background-image:url('./assets/cold-bg.jpg') ;
  background-size: cover;
  background-position: bottom;
  transition: 0.7s ease-out;
}
.app.warm{
  background-image: url('./assets/warm-bg.jpg');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.6));
  padding: 30px;

}

.search-box{
  width: 100%;
  margin:0 0 165px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px 10px 10px 10px;
  margin-top: -15px;
  box-shadow: 0px 6px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;

}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.6);

}

.location-box .location{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px 10px #000;

}

.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.temp{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;

  padding: 15px 25px;
   
  color: #fff;
  font-size: 92px;
  font-weight: 800;

  text-shadow: 3px 5px rgba(10 , 10, 10, 0.4);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather{
  margin:80px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 3px 3px 6px #000;
  text-align: center;
}

.humidity{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0px 130px;
  color: #fff;
  font-weight: 600;
}


.humid{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 30px 130px;
  color: #fff;
  font-weight: 600;
}

.weather-desc{
  margin:-40px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 3px 3px 6px #000;
  text-align: center;
}
span{
  font-size: 10px;
  color: white;
}